PORT=5000
MONGODB_URI=YOUR_NEW_CREATARSH_MONGODB_URI
CLOUDINARY_CLOUD_NAME=YOUR_NEW_CREATARSH_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_NEW_CREATARSH_API_KEY
CLOUDINARY_API_SECRET=YOUR_NEW_CREATARSH_API_SECRET
MANAGER_JWT_SECRET=CHANGE_THIS_IN_PRODUCTION
